body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width: 1150px;
	margin: 0 auto;
}

.nav {
	background-color: #cc3223;
}

.nav-list {
	margin: 0;
}

.nav-item {
	display: inline-block;
	padding: 20px 35px;
}

.nav-link {
	text-decoration: none;
	color: #000;
}

.hero-section {
	height: 500px;
	background-image: url(../assets/img/valentin.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

.main-title {
	margin: 0;
	padding-top: 50px;
	padding-left: 30px;
}